
.banner {
    width:fill;
    padding-top:50px;
    padding-bottom:5px;
    padding-left: 50px;
    color: white;
    background-color: black;
    background-color:rgba(0, 0, 0, 0.8);
 }

 .content {
    width:fill;
    height:fill;
    padding: 10px;
    color: white;
    background-color: black;
    background-color:rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif
 }

 #title {
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif
 }

 #subtitle {
    color: gray;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif
 }

 .links {
    width:fill;
    padding-left: 50px;
    background-color: black;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0.8);
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.links li {
    float: right;
}

body {
    background-image: url("moonglade1.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
  height: 100%;

  display: flex;
  flex-direction: column;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
}

  /* unvisited link */
a:link {
    color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
    color: rgb(179, 179, 179);
}

/* mouse over link */
a:hover {
    color: rgb(147, 186, 245);
}

/* selected link */
a:active {
    color: rgb(255, 255, 255);
}